@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .selector-container {
        @apply flex flex-col w-full gap-2 items-center;
    }
    .selector {
        @apply flex w-full select select-bordered rounded bg-primary text-primary-content px-6;
    }
}

body {
    font-family: 'Kanit', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    @apply transition duration-[0.03s];
    box-sizing: border-box;
}
